main .container {
    position: absolute;
    /*height: calc(100% - 64px);*/
    height: auto;
    width: 100%;
    background-color: #EEEEEE;
    padding: 2em 2em 2em 2em;
    max-width: 100%;
}
main .container .content {
    /*height: 100%;*/
    height: auto;
    padding: 2em;
    background-color: #ffffff;
}

.container{
    width: 100%;
    max-width: 100%;
}

.side-nav > li:hover {
    background-color: transparent;
}

.side-nav > li.active {
    background-color: #E1F5FE;
}

.side-nav > li.logo a{
    color: white;
    font-size: 3rem;

}
.side-nav.fixed a {
    color: #01579b;
}

.side-nav > li:first-child {
    background-color: #03A9F4;
}

.available {
    padding-top: 1em;
    border-radius: 4px;
    box-shadow: 0 0px 15px 0 rgba(100, 221, 23, 0.24),0 0px 22px 0 rgba(100, 221, 23, 0.64);
}

.unavailable {
    padding-top: 1em;
    border-radius: 4px;
    box-shadow: 0 0px 15px 0 rgba(255, 0, 0, 0.24),0 0px 22px 0 rgba(255, 0, 0, 0.64);
}

.card .card-image img{
    width: 50%;
}

@media only screen and (min-width: 993px) {
    header{
        padding-left: 240px;
    }
    header .container {
        padding-left: 5em;
        padding-right: 5em;
    }
    main .container {
        padding: 4em 4em 4em 4em;
        padding-left: calc(240px + 4em);
    }
}