<div>
    <div class="row" ng-controller="TablesCtrl">
        <div class="row">
            <div class="input-field col s3 offset-s9">
                <input id="availables" type="checkbox" ng-model="available" ng-change="doQuery()"/>
                <label for="availables">Only availables</label>
            </div>
        </div>
        <div class="col s12 m4 l4" ng-repeat="table in tables.tables">
            <div class="card tables" ng-class="{true: 'available', false:'unavailable'}[table.available]">
                <div class="center card-image waves-effect waves-block waves-light">
                    <img class="img-responsive activator" src="images/tables/table.jpg">
                </div>
                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">
                        <b class="table-id-out waves-effect waves-blue">{{ table.number }}</b>
                        <i class="material-icons grey-text text-darken-2">perm_identity</i><span class="grey-text text-darken-2">{{ table.capacity }}</span>
                        <i class="material-icons blue-text inf right">info_outline</i>
                        <a class="right" style="margin-top: 9px" href="#/tables/{{ table.id }}"><i style="cursor: pointer" class="mdi-editor-mode-edit"></i></a>
                        <div class="switch center" ng-init="availableSwitch = table.available; index=0">
                            <label>
                                <span ng-class="{true: '', false: 'red-text'}[availableSwitch]">Unavailable</span>
                                <input type="checkbox" ng-model="availableSwitch" ng-change="update(table.id, availableSwitch)">
                                <span class="lever"></span>
                                <span ng-class="{true: 'green-text', false: ''}[availableSwitch]">Available</span>
                            </label>
                        </div>
                    </span>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4"><i class="material-icons">info_outline</i> Information<i class="mdi-navigation-close right"></i></span>
                    <p class="grey-text text-darken-2">
                        Table number
                        <span class="table-id-in right">{{ table.number }}</span>
                    </p>
                    <p class="grey-text text-darken-2">
                        {{ table.available === true ? "Available" : "Unavailable" }}
                        <i class="material-icons right" ng-class="{true: 'green-text', false:'red-text'}[table.available]">album</i>
                    </p>
                    <p class="grey-text text-darken-2">
                        Capacity
                        <span class="grey-text text-darken-2 right">{{ table.capacity }}<i class="material-icons">perm_identity</i></span>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col s6">
        <button class="btn modal-trigger" ng-click="openNewTableModal()">New Table</button>
    </div>
</div>

<div id="new-table-modal" class="modal">
    <div class="modal-content">
        <div class="input-field">
            <input id="table-number" ng-model="postParams.number" type="text" class="validate">
            <label for="table-number" class="active">Number</label>
        </div>
        <div class="input-field">
            <input ng-model="postParams.capacity" id="table-capacity" type="number" class="validate">
            <label for="table-capacity" class="active">Capacity</label>
        </div>
        <div class="input-field">
            <input id="table-available" type="checkbox" ng-model="postParams.available" class="validate">
            <label for="table-available" class="active">Available</label>
        </div>
    </div>
    <div class="modal-footer">
        <a href="" class="btn waves-effect waves-green" ng-click="newTable()">Create</a>
        <a href="" class="btn-flat waves-effect waves-green" ng-click="closeNewTableModal()">Cancel</a>
    </div>
</div>