<div>
    <div class="row">
            <table class="striped">
                <thead>
                <tr>
                    <th data-field="name">Nombre</th>
                    <th data-field="price">Precio</th>
                    <th data-field="available">Disponible</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="item in items">
                    <td>
                        {{ item.name }}
                    </td>
                    <td>
                       {{ item.price | currency:"S/.":2 }}
                    </td>
                    <td class="center-align">
                        {{ item.available | checkmark }}
                    </td>
                    <td>
                        <a class="btn" ui-sref="viewMenuItem('{id:_id})">Ver</a>
                        <a class="btn red" ng-click="deleteMenuItem(item)">Eliminar</a>
                    </td>
                </tr>
                </tbody>
            </table>
        <br>
        <a href="#" class="btn btn-floating red"><i class="material-icons">add</i></a>
    </div>
</div>