<div class="row">
    <div class="col s11">
        <div class="row">
            <div class="col s6">
                <label for="item-name">Name</label>
                <input value="{{ item.name }}" id="item-name" type="text" ng-model="item.name" ng-change="changeMenuItem(item)" class="validate"/>
            </div>
            <div class="col s6">
                <label for="item-price">Price</label>
                <input value="{{ item.price }}" id="item-price" type="number" ng-model="item.price" ng-change="changeMenuItem(item)" class="validate"/>
            </div>
            <div class="col s6">
                <input id="{{item.id}}-available" type="checkbox" ng-model="item.available" ng-change="changeMenuItem(item)" class="validate"/>
                <label for="{{item.id}}-available">Available</label>
            </div>
        </div>
    </div>
    <div class="col s1">
        <p>
            <button class="btn-floating red" ng-click="deleteMenuItem()"><i class="mdi-action-delete"></i> Delete</button>
        </p>
    </div>
    <a href="#/menu/" class="btn">Back to Menu</a>
</div>
