<div>
    <div class="row">
            <table class="striped">
                <thead>
                <tr>
                    <th data-field="name">Nombre</th>
                    <th data-field="price">Precio</th>
                    <th data-field="available">Disponible</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="item in items.menuItems | orderBy:orderProp">
                    <td>
                        <a href="#/items/{{item.id}}">{{ item.name }}</a>
                    </td>
                    <td>
                       S/. {{ item.price }}
                    </td>
                    <td>
                        {{ item.available }}
                    </td>
                </tr>
                </tbody>
            </table>
    </div>
</div>